/* Navbar Styles */
.navbar .nav-link {
    color: #fff;
    font-weight: 500;
}

.navbar .nav-link:hover {
    color: #28a745;
}
.navbar .nav-item {
    margin-right: 10px; 
}
.navbar .btn.btn-custom-primary {
    background-color: #28a745;
    border: none;
    color: white;
}

.navbar .btn.btn-outline-custom-primary {
    background-color: transparent;
    border-color: #28a745;
    color: #28a745;
}

.navbar .btn.btn-outline-custom-primary:hover {
    background-color: #28a745;
    color: white;
}
