body {
  font-family: Arial, sans-serif;
  background-color: #d2d2d2;
  color: #333;
}

/* Navbar Styles */
.navbar .nav-link {
  color: #000000;
  font-weight: 500;
}

.navbar .nav-link:hover {
  color: #28a745;
}

.navbar .nav-item {
  margin-right: 10px; 
}




.navbar .btn.btn-primary {
  background-color: #28a745 !important; 
  border: none;
  color: white;
}

.navbar .btn.btn-primary:hover {
  background-color: #1e7e34 !important;
  color: white;
}

.navbar .btn.btn-outline-primary {
  background-color: transparent;
  border-color: #28a745 !important;
  color: #28a745;
}

.navbar .btn.btn-outline-primary:hover {
  background-color: #1e7e34;
  color: white;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

#donation-options button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px; 
  cursor: pointer; 
}

#donation-options button:hover {
  background-color: #218838;
}

/* Additional styles for payment methods */
.payment-method {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.payment-method i {
  margin-right: 10px; 
}

.campaign-img {
  width: 100%; 
  height: auto; 
  border-radius: 8px; 
}

   /* Donation Card Styles */
   .donation-card {
    width: 100px; 
    height: 50px; 
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.3s ease, background 0.3s ease;
    background: linear-gradient(135deg, #252424, #868380); 
    color: rgb(236, 229, 229); 
    line-height: 50px; 
    font-size: 1 rem; 
  }

  .donation-card:hover {
    transform: scale(1.1);
    background: linear-gradient(135deg, #dd4552, #f29077); 
  }